<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Quicksand:wght@700&family=Send+Flowers&display=swap" rel="stylesheet">

    <title>Plentish</title>
    <link rel="shortcut icon" href="/images/wheat.png" >
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script type='text/javascript' src='javascripts/home.js'></script>
  </head>
  <body>
    <header>
      <% if session[:msg] %>
        <div class='flash'>
          <span><%= session.delete(:msg) %></span>
        </div>
      <% end %>
      <div id='header-title'>
        <%# <img src='/images/wheat.png'> %>
        <h1>PLENTISH</h1>
      </div>
      <div id='header-buttons'>
        <a id='register-button'>Register</a>
        <a id='signin-button'>Sign In</a>
      </div>
    </header>
    <main>
      <p>Plentish is a tool for rapidly generating shopping lists based on a collection of recipes. Users design recipes and add ingredients and quantities. Selecting recipes automatically updates the shopping list, and similar ingredients are combined. In addition, users can add one-off items to the shopping list, or they can browse and select items from old shopping lists.
      </p>
      <div id='overlay' class='<%= @overlay_class %>'>
      </div>
      <form method='post' action='/register' id='register' class='<%= @register_class %>'>
        <section>
        <% if @status && @status[:is_valid] == false %>
          <p class='error-flash'><%= @status[:error_msg] %></p>
        <% end %>
        </section>
        <label for='username'>Username*</label>
        <input type='text' id='new-username' name='username' minlength='8' maxlength='50' required
          title='usernames must be between 8 and 50 characters' value='<%= params[:username] %>'>
        <label for='password1'>Password**</label>
        <input type='password' id='password1' name='password1' pattern='.*\d.*' pattern='.*[a-z].*' pattern='.*[A-Z].*' minlength='8' required
          title='passwords must have at least 8 characters, include a number, an uppercase letter, and a lowercase letter.' value='<%= params[:password1] %>'>
        <label for='password2'>Re-enter Password**</label>
        <input type='password' id='password2' name='password2' pattern='.*\d.*' pattern='.*[a-z].*' pattern='.*[A-Z].*' minlength='8' required
          title='passwords must have at least 8 characters, include a number, an uppercase letter, and a lowercase letter.' value='<%= params[:password2] %>'>
        <div class='controls'>
          <input type='submit' value='Register'>
          <input type='reset' value='Cancel'>
        </div>

        <p>* usernames must be between 8 and 50 characters</p>
        <p>** passwords must have at least 8 characters, including a number, an uppercase letter, and a lowercase letter.</p>
      </form>

      <form method='post' action='/signin' id='signin' class='<%= @signin_class %>'>
        <section>
        <% if @status && @status[:is_valid] == false %>
          <p class='error-flash'><%= @status[:error_msg] %></p>
        <% end %>
        </section>
        <label for='username'>Username:</label>
        <input type='text' id='username' name='username' minlength='8' maxlength='50' required
          title='usernames must be between 8 and 50 characters' value='<%= params[:username] %>'>
        <label for='password'>Password:</label>
        <input type='password' id='password' name='password' minlength='8' required
          title='passwords must have at least 8 characters, include a number, an uppercase letter, and a lowercase letter.' value='<%= params[:password] %>'>
        <div class='controls'>
          <input type='submit' value='Sign In'>
          <input type='reset' value='Cancel'>
        </div>
      </form>

    </main>
  </body>
</html>
