<link rel="stylesheet" href="/stylesheets/recipes.css">
<script type='text/javascript' src='javascripts/recipes.js'></script>

<a id='new-recipe'>New Recipe</a>
<ul id='recipes-list'>
  <% if @recipes.empty? %>
    <li>You don't have any recipes. Create one by clicking on "New Recipe".</li>
  <% else %>

    <% @recipes.each do |recipe| %>

      <% if recipe['selected'] %>
        <li class='selected'>
          <a href='/recipes/<%= recipe['id'] %>'></a>
          <%= recipe['name'] %> - <%= recipe['date_created'] %>
          <img src='/images/blue_checked_circle.png' data-selected='true' data-id='<%= recipe['id'] %>'>
        </li>
      <% else %>
        <li>
          <a href='/recipes/<%= recipe['id'] %>'></a>
          <%= recipe['name'] %> - <%= recipe['date_created'] %>
          <img src='/images/circle.png' data-id='<%= recipe['id'] %>'>
        </li>
      <% end %>

    <% end %>

  <% end %>
</ul>