<link rel="stylesheet" href="/stylesheets/recipe_details.css">
<script type='text/javascript' src='/javascripts/recipe_details.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

<script type='text/x-handlebars' id='ingredient-template'>
  <li>
    <input type='text' name='i-name-{{nextNum}}' placeholder='Walnuts' required>
    <input type='number' name='quantity-{{nextNum}}' minvalue='0' placeholder='4' required>
    <select name='units-{{nextNum}}' value='units' required>
      <option value='cups'>cups</option>
      <option value='oz.'>oz.</option>
    </select>
    <img src='/images/red_x.png'>
  </li>
</script>

<div id='recipe-details-pane'>
  <h1><%= @recipe['name'] %></h1>
  <small>Created on <%= @recipe['date_created'] %></small>
  <ul>
    <% if @ingredients.empty? %>
      <li>This recipe has no ingredients.</li>
    <% else %>
      <% @ingredients.each do |ingredient| %>
        <li data-id='<%= ingredient['id'] %>'><%= ingredient['name'] %> - <%= ingredient['quantity'] %> <%= ingredient['units'] %></li>
      <% end %>
    <% end %>
  </ul>
  <p><%= @recipe['description'] %></p>
  <div id='recipe-controls'>
    <a id='edit-button'>Edit</a>
    <a id='delete-button'>Delete</a>
  </div>
</div>

<div id='form-overlay' class='hidden'></div>
<form method='post' action='/recipes/<%= @recipe['id'] %>' id='edit-recipe-form' class='hidden'>
  <label for='name'>Recipe Name:</label>
  <input type='text' id='name' name='name' value='<%= @recipe['name'] %>'>
  <a>Add Ingredient</a>
  <ul id='ingredients-list'>
    <% if !@ingredients.empty? %>
      <% @ingredients.each do |ingredient| %>
        <li>
          <input type='text' name='i-name-<%= ingredient['number'] %>' value='<%= ingredient['name'] %>' required>
          <input type='number' name='quantity-<%= ingredient['number'] %>' minvalue='0' value='<%= ingredient['quantity'] %>' required>
          <select name='units-<%= ingredient['number'] %>' required>
            <optgroup label='current units'>
              <option value='<%= ingredient['units'] %>' selected><%= ingredient['units'] %></option> 
            </optgroup>
            <optgroup label='units'>
              <option value='cups'>cups</option>
              <option value='oz.'>oz.</option>
            </optgroup>
          </select>
          <img src='/images/red_x.png'>
        </li>
      <% end %>
    <% end %>
  </ul>
  <textarea name='description'><%= @recipe['description'] %></textarea>
  <div id='form-controls'>
    <input type='submit' value='Save'>
    <input type='reset' value='Cancel'>
  </div>
</form>