<link rel="stylesheet" href="/stylesheets/recipe_details.css">
<script type='text/javascript' src='/javascripts/recipe_details.js'></script>

<div id='recipe-details-pane'>
  <h1><%= @recipe['name'] %></h1>
  <small>Created on <%= @recipe['date_created'] %></small>
  <ul>
    <% if @ingredients.empty? %>
      <li>This recipe has no ingredients.</li>
    <% else %>
      <% @ingredients.each do |ingredient| %>
        <li data-id='<%= ingredient['id'] %>'><%= ingredient['name'] %> - <%= ingredient['quantity'] %> <%= ingredient['units'] %></li>
      <% end %>
    <% end %>
  </ul>
  <p><%= @recipe['description'] %></p>
  <div id='recipe-controls'>
    <a id='edit-button'>Edit</a>
    <a id='delete-button'>Delete</a>
  </div>
</div>