<link rel="stylesheet" href="/stylesheets/recipe_details.css">
<script type='text/javascript' src='/javascripts/recipe_details.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

<script type='text/x-handlebars' id='ingredient-template'>
  <li>
    <div id='ingredient-fields'>
      <input type='text' name='i-name-{{nextNum}}' placeholder='Walnuts' autocomplete='off' required>
      <input type='number' name='quantity-{{nextNum}}' minvalue='1' placeholder='4' required>
      <select name='units-{{nextNum}}' value='units' required>
        <% UNITS.each do |unit| %>
          <option value='<%= unit %>'><%= unit %></option>
        <% end %>
      </select>
      <div class='suggestions-box'>
      </div>
    </div>
    <img src='/images/red_x.png'>
  </li>
</script>

<script type='text/x-handlebars' id='suggestions-template'>
  <ul class='suggestions-list'>
    {{#each suggestions}}
      <li data-name='{{name}}' data-units='{{units}}' class='suggestion'>{{name}} <span class='unit-span'>{{units}}</span></li>
    {{/each}}
  </ul>
</script>

<div id='recipe-details-pane'>
  <h1><%= @recipe['name'] %></h1>
  <small>Created on <%= @recipe['date_created'] %></small>
  <ul>
    <% if @ingredients.empty? %>
      <li>This recipe has no ingredients.</li>
    <% else %>
      <% @ingredients.each do |ingredient| %>
        <li data-id='<%= ingredient['id'] %>'><%= ingredient['name'] %> - <%= ingredient['quantity'] %> <%= ingredient['units'] %></li>
      <% end %>
    <% end %>
  </ul>
  <p><%= @recipe['description'] %></p>
  <div id='recipe-controls'>
    <a id='edit-button'>Edit</a>
    <a id='delete-button'>Delete</a>
  </div>
</div>

<div id='form-overlay' class='hidden'></div>
<form method='post' action='/recipes/<%= @recipe['id'] %>' id='edit-recipe-form' class='hidden'>
  <label for='name'>Recipe Name:</label>
  <input type='text' id='name' name='name' value='<%= @recipe['name'] %>'>
  <a>Add Ingredient</a>
  <ul id='ingredients-list'>
    <% if !@ingredients.empty? %>
      <% @ingredients.each do |ingredient| %>
        <li>
          <input type='text' name='i-name-<%= ingredient['number'] %>' value='<%= ingredient['name'] %>' autocomplete='off' required>
          <input type='number' name='quantity-<%= ingredient['number'] %>' minvalue='1' value='<%= ingredient['quantity'] %>' required>
          <select name='units-<%= ingredient['number'] %>' required>
              <% UNITS.each do |unit| %>
                <option value='<%= unit %>' <% if unit == ingredient['units'] %>selected<% end %>><%= unit %></option>
              <% end %>
          </select>
          <img src='/images/red_x.png'>
          <div class='suggestions-box'>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <textarea name='description'><%= @recipe['description'] %></textarea>
  <div id='form-controls'>
    <input type='submit' value='Save'>
    <input type='reset' value='Cancel'>
  </div>
</form>

<div id='confirm-delete' class='hidden'>
  <p>You are about to delete this recipe -- Are you sure?</p>
  <div id='delete-controls'>
    <a id='final-delete' data-id='<%= @recipe['id'] %>'>Delete</a>
    <a id='redirect-link' href='/recipes'></a>
    <a id='go-back'>Go Back</a>
  </div>
</div>