<link rel="stylesheet" href="/stylesheets/recipes.css">
<script type='text/javascript' src='/javascripts/recipes.js'></script>

<a id='new-recipe'>New Recipe</a>
<ul id='recipes-list'>
  <% if @recipes.empty? %>
    <li>You don't have any recipes. Create one by clicking on "New Recipe".</li>
  <% else %>

    <% @recipes.each do |recipe| %>

      <% if recipe['selected'] %>
        <li class='selected'>
          <a href='/recipes/<%= recipe['id'] %>'></a>
          <%= recipe['name'] %> - <%= recipe['date_created'] %>
          <img src='/images/blue_checked_circle.png' data-selected='true' data-id='<%= recipe['id'] %>'>
        </li>
      <% else %>
        <li>
          <a href='/recipes/<%= recipe['id'] %>'></a>
          <%= recipe['name'] %> - <%= recipe['date_created'] %>
          <img src='/images/circle.png' data-id='<%= recipe['id'] %>'>
        </li>
      <% end %>

    <% end %>

  <% end %>
</ul>

<div id='form-overlay' class='hidden'></div>
<form method='post' action='/recipes' id='new-recipe-form' class='hidden'>
  <label for='name'>Recipe Name:</label>
  <input type='text' id='name' name='name' placeholder='Banana Pancakes'>
  <a>Add Ingredient</a>
  <ul>
    <li>
      <input type='text' name='i-name-1' placeholder='Walnuts' required>
      <input type='number' name='quantity-1' minvalue='0' placeholder='4' required>
      <select name='units-1' value='units' required>
        <option value='cups'>cups</option>
        <option value='oz.'>oz.</option>
      </select>
      <img src='/images/red_x.png'>
    </li>

    <li>
      <input type='text' name='i-name-2' placeholder='Walnuts' required>
      <input type='number' name='quantity-2' minvalue='0' placeholder='4' required>
      <select name='units-2' value='units' required>
        <option value='cups'>cups</option>
        <option value='oz.'>oz.</option>
      </select>
      <img src='/images/red_x.png'>
    </li>
  </ul>
  <textarea name='description' placeholder='description'></textarea>
  <div id='form-controls'>
    <input type='submit' value='Save'>
    <input type='reset' value='Cancel'>
  </div>
</form>